/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

h5{
    font-family: 'Marvel', sans-serif !important;
    letter-spacing: 2px !important;
}

.MuiButton-outlinedPrimary:hover {
    border: none !important;
    background-color: rgba(234, 35, 36, 0.04) !important;
}

.notFavs {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favs {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
