/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

h5{
    font-family: 'Marvel', sans-serif !important;
    letter-spacing: 2px !important;
}
p{
    font-family: 'Marvel', sans-serif !important;
    letter-spacing: 1px !important;
    margin-bottom: 0px;
}
h1{
    font-family: 'Marvel', sans-serif !important;
    letter-spacing: 1px !important;
    font-weight: bolder;
}
h4{
    font-family: 'Marvel', sans-serif !important;
    font-weight: bolder;
    font-size: 35px;
}

.MuiButton-outlinedPrimary:hover {
    border: none !important;
    background-color: rgba(234, 35, 36, 0.04) !important;
}

.notFavs {
    width: 385px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favs {
    width: 385px;
    display: flex;
    justify-content: space-between;
}
.MuiSnackbarContent-root{
    background: inherit !important;
}
